

img {
  width: 100%;
}



body {
  background-color: #ebd9c5;

}

.card-body {
  text-align: left;
}

.jumbotron {
  display: inline-block;
  width: 40%;
  text-align: left;
}

.navbar {
  text-align: right;
}

.btn-link {
  color: black;
}

span {
  color: white;
  vertical-align: top;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

h2 {
  margin-bottom: 0px;
}
